<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
       <b>Life is better when you engage with interesting people.</b> 
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Email address</ion-label>
      <ion-input type="email" placeholder="hello@senseless.app" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input placeholder="" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" fill="outline" color ="secondry" shape="round" (click)="login()">Start Connecting</ion-button>
  <ion-button fill="clear" color ="danger" (click)="gotosignup()">Don't have an account?</ion-button>
</ion-content>
