<ion-header>
  <ion-toolbar>
    <ion-title>add-todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">ToDo Title</ion-label>
      <ion-input type="text" [(ngModel)]="todo_title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ToDo Description</ion-label>
      <ion-input type="text" [(ngModel)]="todo_des"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ToDo Last Date</ion-label>
      <ion-datetime min="2021" display-format="mm/DD/YYYY" [(ngModel)]="todo_date"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button expand="full" fill="outline" color ="secondry" shape="round" (click)="addTodo()">Add ToDO</ion-button>
</ion-content>
