<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Connection Userverse</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <img src="https://media.istockphoto.com/vectors/vinyl-record-template-vector-id481475560?k=6&m=481475560&s=612x612&w=0&h=6v5l7rebyR2T8zXxlssd9jBzVfE0Vaw2qDWID-IMdzI="/>
            <h2>Ashwin</h2>
            <p><b>From Delhi, 26, Male</b> <br>Tap to hear his question <br> <i>"The distance between insanity and genius is measured only by success"</i></p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="https://media.istockphoto.com/photos/vinyl-record-album-picture-id134119582?k=6&m=134119582&s=612x612&w=0&h=j77_D1ZFAi5ZVfa9pHp8yxY1v7aetEbjTktISvxXAAI="/>
          <h2>Lydia</h2>
          <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </ion-slide>

        <ion-slide>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqsBkC5zqxTmZm81TbpvjneDRQgBSZx0oLrNZwtzRrKVThgUEUVYvrFIerVQrqutU_RT0&usqp=CAU"/>
          <h2>Dave</h2>
          <p><b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>

        <ion-slide>
          <img src="https://www.techgenesis.net/wp-content/uploads/2021/05/Music-Maker-JAM-for-Windows.png"/>
          <h2>Ready for more?</h2>
          <ion-button fill="clear">load more! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>
  </ion-app>
