<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" defaultHref="/">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Get Started</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
       <b>Tell us a bit about yourself.</b> 
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input placeholder="Hamilton" [(ngModel)]="f_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email address</ion-label>
      <ion-input type="email" placeholder="hello@senseless.app" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">City</ion-label>
      <ion-input placeholder="Miami" [(ngModel)]="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Age </ion-label>
      <ion-input placeholder="31" [(ngModel)]="age"></ion-input>
    </ion-item>
      <ion-radio-group lines="full" (ionChange)="RadioChangeEvent($event)">
        <ion-list-header>
          <ion-label>I am a:</ion-label>
               </ion-list-header> 
             <ion-item>
               <ion-label>Man</ion-label>
               <ion-radio slot="start" value="Man" ></ion-radio>
             </ion-item>
             <ion-item>
               <ion-label>Woman</ion-label>
               <ion-radio slot="start" value="Woman"></ion-radio>
             </ion-item>
             <ion-item>
               <ion-label>Prefer not to say</ion-label>
               <ion-radio slot="start" value="Prefer not to say"></ion-radio>
             </ion-item>
           </ion-radio-group>
           <ion-radio-group lines="full" (ionChange)="RadioChangeEventTwo($event)">
        <ion-list-header>
   <ion-label>I prefer to connect with:</ion-label>
        </ion-list-header> 
      <ion-item>
        <ion-label>Men</ion-label>
        <ion-radio slot="start" value="Men" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Women</ion-label>
        <ion-radio slot="start" value="Women"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>others</ion-label>
        <ion-radio slot="start" value="others"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Anyone</ion-label>
        <ion-radio slot="start" value="Anyone"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-radio-group lines="full" (ionChange)="RadioChangeEventThree($event)">
      <ion-list-header>
        <ion-label>Who are:</ion-label>
      </ion-list-header> 
    <ion-item>
      <ion-label>Near me</ion-label>
      <ion-radio slot="start" value="Near me" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Anywhere</ion-label>
      <ion-radio slot="start" value="Anywhere"></ion-radio>
    </ion-item>
  </ion-radio-group>
    <ion-item>
      <ion-label>Create a password</ion-label>
      <ion-input placeholder="" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" fill="outline" color ="secondry" shape="round" (click)="signup()">Start Connecting</ion-button>
  <ion-button fill="clear" color ="danger" (click)="gotoLogin()">Already have an account?</ion-button>
</ion-content>
