<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <ion-item *ngFor="let User of U_data"> 
    <ion-text color="medium">
     <h1><strong>{{ User.data().f_name }}</strong></h1> 
    <br>
    </ion-text>
    </ion-item>
    <ion-item *ngFor="let User of U_data">
    <ion-text color="secondary">
      <h3>
        <!-- City : {{ U_data.data().location }} <|> Age : {{ U_data.data().age }} -->
       City: {{ User.data().location }} | Age: {{ User.data().age }}
      </h3>
    </ion-text>
  </ion-item>
    <ion-item *ngFor="let User of U_data">
      <ion-text color="secondary">
        <br>
        <h3>
          <!-- Email : {{ U_data.data().email }} Email : {{ U_data.data().email }} -->
          Email: {{ User.data().email }}
        </h3>
      </ion-text>
      </ion-item>
  <ion-item *ngFor="let User of U_data">
    <ion-text color="secondary">
      <br>
      <h3>
        <!-- Connecting with : {{ U_data.data().preferred_sex }} -->
        Interseted in connecting with {{ User.data().preferred_sex }} 
      </h3>
    </ion-text>
  </ion-item>
    <ion-item *ngFor="let User of U_data">
      <ion-text color="secondary">
        <br>
        <h3>
          <!-- Who are: : {{ U_data.data().preferred.location }} -->
          who are {{ User.data().preferred_location}}
        </h3>
      </ion-text>
      </ion-item>
    <ion-button expand="full" fill="outline" color ="secondry" shape="round" (click)="gotoChat()">Go to chat</ion-button>
    <ion-button expand="full" fill="outline" color ="secondry" shape="round" (click)="gotoSwiper()">Go to userverse</ion-button>
  </ion-label>
</ion-content>
