<ion-header>
  <ion-toolbar>
    <ion-title>Your Todo</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item>
        <ion-label>
          <h2> {{ todo.data().title}}</h2>
          <h3> {{ todo.data().description }}</h3>
          <p> {{ todo.data().last_date }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="markCompleted(todo)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="gotoAddToDo()">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
